.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  justify-content: center;
}
.view-cart-btn{
  padding: 10px;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}